# Ignore Gradle project-specific cache directory
.gradle
common/*.log
common/out
# Ignore Gradle build output directory
build
ds
# Java & Gradle
**/build/
**/.gradle/
**/out/**
**/bin/
/!gradle/wrapper/gradle-wrapper.jar

# IntelliJ IDEA
.idea/
/*.iml
*.iws
*.ipr
*.class

# Logs
*.log
logs/
**/logs/
*.pid

# Spring Boot
*.jar
*.war
*.ear

# OS-specific
.DS_Store
Thumbs.db

# Tests
/test-output/
/coverage/
/jacoco.exec

# dotenv, local overrides
.env
.env.*

# Temporary
*.swp
*.swo
*.bak
*~
